.container {
    display: flex;
    justify-content: center;
}

.grid {
    margin-top: 20px;
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFEC51;
}

.grid div {
    width: 20px;
    height: 20px;
}

.tetromino {
    background-color: red;
}

.mini-grid {
    margin-top: 20px;
    margin-left: 30px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFEC51;
}

.mini-grid div {
    width: 20px;
    height: 20px;
}

body {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    color: #DC0073;
    background-color: #FFFBDB;
    text-align: center;
}

button {
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    font-family: inherit;
    font-size: 0.8em;
    color: inherit;
    padding: 15px 15px;
}

h1 {
    font-size: 32px;
}