.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffe5d9;
}

.grid div {
    width: 20px;
    height: 20px;
}

.tetromino { 
    background-color: royalblue;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffe5d9;
}

.mini-grid div {
    width: 20px;
    height: 20px;
}

.container {
    display: flex;
}